.p0 {
  padding: 0; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.pt0 {
  padding-top: 0; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pb0 {
  padding-bottom: 0; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.m0 {
  margin: 0; }

.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.mt0 {
  margin-top: 0; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mb0 {
  margin-bottom: 0; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

@font-face {
  font-family: "Merriweather Sans";
  src: local("../fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf"); }
@font-face {
  font-family: "Wendy One";
  src: local("../fonts/Wendy_One/WendyOne-Regular.ttf"); }
@font-face {
  font-family: "Gaegu", cursive;
  src: local("../fonts/Gaegu/Gaegu-Regular.ttf"); }
p, h1, h2, h3, h4, h5, h6 {
  cursor: default; }

body, html {
  padding: 0;
  margin: 0; }

.main {
  background-image: url("../img/top_bg.jpg");
  background-size: cover; }
  .main header {
    height: 100px; }
    .main header .main_logo {
      height: 100px; }
      .main header .main_logo p {
        font-family: "Wendy One", sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 60px;
        margin: 0;
        color: #fff;
        display: block;
        height: 60px;
        width: 60px;
        background-color: #11749E;
        box-shadow: 10px 10px #e2e2e2;
        position: relative;
        top: 50%;
        transform: translate(0, -50%); }
      @media screen and (max-width: 767.98px) {
        .main header .main_logo {
          position: absolute;
          top: 20px;
          left: 20px;
          height: 60px; } }
    .main header nav {
      height: 100px; }
      .main header nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between; }
        .main header nav ul li {
          padding-top: 20px;
          border-bottom: 3px solid rgba(0, 0, 0, 0);
          transition: border-bottom-color 0.3s; }
          .main header nav ul li:hover {
            border-bottom: 3px solid #11749E; }
          .main header nav ul li a {
            font-family: "Wendy One", sans-serif;
            padding: 5px;
            display: inline-block;
            text-decoration: none;
            font-size: 20px;
            line-height: 60px;
            color: #fff; }
      @media screen and (max-width: 991.98px) {
        .main header nav a {
          font-size: 16px;
          line-height: 50px; } }
    .main header .main_nav_open {
      display: block;
      position: absolute;
      top: 80px;
      right: 20px;
      width: 100px; }
      .main header .main_nav_open ul {
        width: 100px;
        display: block;
        height: 230px; }
        .main header .main_nav_open ul li {
          padding-top: 5px;
          display: block; }
          .main header .main_nav_open ul li a {
            display: block;
            font-size: 16px;
            line-height: 20px; }
    .main header .main_social {
      display: flex;
      justify-content: space-between;
      text-align: center; }
      .main header .main_social a {
        width: 100%;
        display: inline-flex;
        font-size: 22px;
        color: #F5F5F5;
        text-decoration: none;
        align-items: center;
        transition: color 0.5s;
        transform: translateY(5%); }
        .main header .main_social a:hover:nth-child(1) {
          color: #3B5998; }
        .main header .main_social a:hover:nth-child(2) {
          color: #1EA1F3; }
        .main header .main_social a:hover:nth-child(3) {
          color: #01AEF2; }
        .main header .main_social a:hover:nth-child(4) {
          color: #01AEF2; }
    .main header .main_hamburger {
      display: none;
      cursor: pointer;
      height: 60px;
      width: 60px;
      background-color: #11749E;
      position: absolute;
      top: 20px;
      right: 20px; }
      .main header .main_hamburger .main_hamburger-inner {
        background-color: #fff;
        display: block;
        width: 40px;
        height: 3px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateX(50%); }
        .main header .main_hamburger .main_hamburger-inner:before {
          position: absolute;
          content: " ";
          height: 3px;
          width: 40px;
          display: block;
          background-color: #fff;
          top: 12px; }
        .main header .main_hamburger .main_hamburger-inner:after {
          position: absolute;
          content: " ";
          height: 3px;
          width: 40px;
          display: block;
          background-color: #fff;
          bottom: 12px; }
    @media screen and (max-width: 991.98px) {
      .main header .main_social {
        position: absolute;
        display: inline;
        top: 15%;
        right: 10px;
        width: 40px;
        z-index: 2;
        text-align: right; } }
    @media screen and (max-width: 767.98px) {
      .main header nav {
        display: none; }
      .main header .main_social {
        display: none; }
      .main header .main_hamburger {
        display: block; } }
  .main .main_body {
    text-align: center; }
    .main .main_body h1 {
      font-family: "Merriweather Sans", sans-serif;
      text-transform: uppercase;
      font-size: 100px;
      line-height: 300px;
      margin: 0;
      color: #F5F5F5; }
      @media screen and (max-width: 767.98px) {
        .main .main_body h1 {
          font-size: 60px; } }
    .main .main_body span {
      font-family: "Wendy One", sans-serif;
      font-size: 13px;
      color: #F5F5F5; }
    .main .main_body a {
      display: block;
      border: 1px solid #F5F5F5;
      border-radius: 50%;
      height: 63px;
      width: 63px;
      margin: 20px auto 20px auto; }
      .main .main_body a:hover {
        border: 1px solid #11749E; }
        .main .main_body a:hover:before {
          animation: arrowScroll 1.25s infinite; }
        .main .main_body a:hover:after {
          content: "";
          animation: arrowScroll 1.25s infinite; }
      .main .main_body a:before, .main .main_body a:after {
        content: "";
        display: block;
        position: relative;
        height: 15px;
        width: 15px;
        transform: rotate(45deg) translate(0, 75%);
        border-bottom: 3px solid #F5F5F5;
        border-right: 3px solid #F5F5F5;
        top: 20%;
        left: 50%; }
      .main .main_body a:after {
        content: none; }

@keyframes arrowScroll {
  0% {
    top: -10%;
    opacity: 1; }
  100% {
    top: 20%;
    opacity: 0; } }
.about {
  text-align: center;
  background-color: #11749E; }
  .about .about_head {
    position: relative;
    font-family: "Merriweather Sans", sans-serif; }
    .about .about_head p {
      width: 100%;
      font-size: 38px;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0; }
    .about .about_head span {
      text-transform: uppercase;
      font-size: 250px;
      margin: 0 auto;
      color: #2e85aa;
      font-weight: 700; }
  .about .about_feature {
    text-align: center; }
    .about .about_feature i {
      font-size: 33px;
      color: #fff;
      height: 135px;
      width: 135px;
      border-radius: 50%;
      background-color: #2e85aa;
      line-height: 135px;
      transition: color 0.5s, background-color 0.5s; }
      .about .about_feature i:hover {
        color: #11749E;
        background-color: #fff; }
    .about .about_feature p {
      color: #fff; }
      .about .about_feature p:nth-child(even) {
        font-family: "Merriweather Sans", sans-serif;
        font-size: 18px;
        margin: 23px; }
      .about .about_feature p:nth-child(odd) {
        font-family: "Gaegu", cursive;
        font-size: 15px; }
  .about .about_gallery {
    text-align: left; }
    .about .about_gallery .about_gallery_row_1 {
      background-color: #222222; }
      .about .about_gallery .about_gallery_row_1 .about_gallery_text p {
        font-family: "Gaegu", cursive;
        color: #fff;
        font-size: 15px; }
        .about .about_gallery .about_gallery_row_1 .about_gallery_text p:nth-child(1) {
          font-family: "Wendy One", sans-serif;
          font-size: 13px; }
      .about .about_gallery .about_gallery_row_1 .about_gallery_text h3 {
        font-family: "Merriweather Sans", sans-serif;
        color: #fff;
        font-size: 25px; }
    .about .about_gallery .about_gallery_row_2 {
      background-color: #F5F5F5; }
      .about .about_gallery .about_gallery_row_2 .about_gallery_text p {
        font-family: "Gaegu", cursive;
        color: #222222;
        font-size: 15px; }
        .about .about_gallery .about_gallery_row_2 .about_gallery_text p:nth-child(1) {
          font-family: "Wendy One", sans-serif;
          font-size: 13px; }
      .about .about_gallery .about_gallery_row_2 .about_gallery_text h3 {
        font-family: "Merriweather Sans", sans-serif;
        color: #222222;
        font-size: 25px; }
    .about .about_gallery img {
      width: 100%;
      display: block; }

.blog {
  background-color: #fff;
  text-align: center; }
  .blog .blog_header {
    position: relative; }
    .blog .blog_header p {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 38px;
      text-transform: uppercase;
      position: absolute;
      margin: 0 auto;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .blog .blog_header span {
      font-family: "Merriweather Sans", sans-serif;
      text-transform: uppercase;
      font-size: 250px;
      color: #e2e2e2;
      padding: 0;
      margin: 0;
      line-height: 0.8;
      font-weight: 700; }
  .blog p {
    font-family: "Merriweather Sans", sans-serif;
    color: #222222;
    font-size: 30px; }
  .blog .blog_section img {
    width: 95%;
    display: block;
    transition: scale 0.5s; }
    .blog .blog_section img:hover {
      box-shadow: 0 0 50px 5px #222222; }
  .blog .blog_section h3 {
    font-family: "Merriweather Sans", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #11749E;
    padding-top: 20px; }
  .blog .blog_section p {
    font-family: "Gaegu", cursive;
    font-size: 15px;
    color: #222222;
    width: 95%; }

.quickAction {
  background-color: #11749E;
  position: relative; }
  .quickAction i {
    padding: 15px 0;
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .quickAction p {
    font-family: "Gaegu", cursive;
    color: #fff;
    font-size: 15px; }

.key {
  background-image: url("../img/key_bg.jpg");
  text-align: center; }
  .key h5 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 25px;
    color: #fff; }
  .key p {
    font-family: "Gaegu", cursive;
    font-size: 15px;
    color: #fff;
    padding-bottom: 30px; }
  .key a {
    font-family: "Wendy One", sans-serif;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    color: #fff;
    display: inline-block;
    background-color: #11749E;
    text-transform: uppercase;
    transition: width 0.5s;
    width: 75%;
    border: 3px solid rgba(0, 0, 0, 0); }
    .key a:hover {
      border: 3px solid; }
  .key img {
    display: block;
    width: 100%; }
    .key img:hover {
      animation: phoneAnim 0.5s; }

@keyframes phoneAnim {
  0%,100% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(5deg); }
  66% {
    transform: rotate(-5deg); } }
.team {
  text-align: center; }
  .team .team_header {
    position: relative;
    font-family: "Merriweather Sans", sans-serif; }
    .team .team_header p {
      font-size: 38px;
      text-transform: uppercase;
      position: absolute;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .team .team_header span {
      text-transform: uppercase;
      font-size: 250px;
      color: #e2e2e2;
      padding: 0;
      margin: 0;
      line-height: 0.8;
      font-weight: 700; }
  .team p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 30px;
    color: #222222; }
  .team .team_person {
    text-align: center;
    position: relative;
    overflow: hidden; }
    .team .team_person .team_person_descr {
      background-color: #fff;
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      transition: bottom 1s; }
      .team .team_person .team_person_descr p:nth-of-type(odd) {
        font-family: "Merriweather Sans", sans-serif;
        text-transform: uppercase;
        color: #11749E;
        font-size: 20px;
        margin: 10px 0; }
      .team .team_person .team_person_descr p:nth-of-type(even) {
        font-family: "Wendy One", sans-serif;
        color: #222222;
        font-size: 15px;
        margin: 0; }
    .team .team_person:hover .team_person_descr {
      bottom: 0; }
  .team img {
    display: block;
    width: 100%; }

.contact {
  background-image: url("../img/contact_bg.jpg");
  text-align: center; }
  .contact .contact_header {
    font-family: "Merriweather Sans", sans-serif;
    position: relative;
    text-align: center; }
    .contact .contact_header p {
      width: 100%;
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      position: absolute;
      margin: 0 auto;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .contact .contact_header span {
      text-transform: uppercase;
      font-size: 250px;
      color: #606062;
      padding: 0;
      margin: 0;
      line-height: 0.8;
      font-weight: 700; }
  .contact form {
    margin: 0 auto;
    width: 90%;
    font-size: 15px; }
    .contact form input {
      margin: 2.25%;
      padding: 15px;
      width: 30%;
      background-color: rgba(0, 0, 0, 0);
      color: #fff; }
      .contact form input:nth-of-type(1) {
        margin: 2.25% 2.25% 2.25% 0; }
      .contact form input:nth-of-type(3) {
        margin: 2.25% 0 2.25% 2.25%; }
      @media screen and (max-width: 991.98px) {
        .contact form input {
          margin: 2.5% 0;
          width: 100%; }
          .contact form input:nth-of-type(1) {
            margin: 2.5% 0; }
          .contact form input:nth-of-type(3) {
            margin: 2.5% 0; } }
    .contact form textarea {
      width: 100%;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      resize: none;
      margin: 2.5% 0 2.5% 0; }

#submit {
  font-family: "Wendy One", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  width: 25%;
  color: #fff;
  background-color: #11749E;
  text-decoration: none;
  border: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer; }
  #submit:hover {
    border: 3px solid; }
  @media screen and (max-width: 991.98px) {
    #submit {
      width: 100%; } }

.map {
  height: 450px;
  width: 100%; }
  .map iframe {
    width: 100%; }

footer {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #222222; }
  footer p {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
